extends layout

block content
  p #{error}
  form(method='POST' action='/')
    div.form-group
      label(for='location') Location:
      input#location.form-control(type='text', placeholder='Location' name='location')
    div.form-group
      label(for='search') Search:
      input#search.form-control(type='text', placeholder='Search' name='search')
    button.btn.btn-primary(type='submit') Submit:
  table(style='width:100%', border='1')
    tr
      th Name
      th Rating
      th Phone
    each val in arr
      tr
        td #{val[0]}
        td #{val[1]}
        td #{val[2]}