html
    head
        title RoadTrippie
        link(rel='stylesheet', href='/stylesheets/login.css')
    body
        div(class = "buttondiv")
            form(action = "/auth/google")
                input(type = "submit" value = "Sign in with Google")